version: "3"
containers:
- name: cloud-client
  image: gcr.io/instruqt/cloud-client
  shell: /bin/bash
  ports:
  - 80
virtualmachines:
- name: workstation
  image: ubuntu-os-cloud/ubuntu-2404-lts-amd64
  shell: /bin/bash
  machine_type: n1-standard-1
azure_subscriptions:
- name: azsubscription
  roles:
  - Contributor
